<div class="container" *ngIf="isForgotForm">
  <form (ngSubmit)="submitForgotPassword()" [formGroup]="forgotPasswordForm">
    <div class="form-group">
      <label for="email">
        Email
      </label>
      <input type="text" id="email" class="form-control"
             placeholder="email" [formControl]="$any(forgotPasswordForm).get('email')">
    </div>
    <button class="btn btn-primary" type="submit">
      Recover password
    </button>
  </form>
</div>

<div class="container" *ngIf="!isForgotForm">
  <form (ngSubmit)="submitPasswordRecovery()" [formGroup]="passwordRecoveryForm">
    <div class="form-group">
      <label for="password">
        Password
      </label>
      <input type="password" id="password" class="form-control"
             placeholder="password" [formControl]="$any(passwordRecoveryForm).get('password')">
    </div>
    <div class="form-group">
      <label for="plainPassword">
        Password confirm
      </label>
      <input type="password" id="plainPassword" class="form-control"
             placeholder="password confirm" [formControl]="$any(passwordRecoveryForm).get('plainPassword')">
    </div>
    <button class="btn btn-primary" type="submit">
      Change password
    </button>
  </form>
</div>
